<h3 style="text-align: center;">Obeservable and Subscribe</h3><hr>
<button (click)="getWithSubscribe()">Get Data</button>
<ul *ngFor="let val of subscribeData">
  <li>{{val.id}} {{val.name}}</li>
</ul>

<h3 style="text-align: center;">Obeservable and Async Pipe</h3><hr>
<button (click)="getWithAsyncPipe()">Get Data</button>
<ul *ngFor="let val of asyncData | async as list">
  <li>{{val.id}} {{val.name}}</li>
</ul>

<h3 style="text-align: center;">Obeservable and Async Pipe and ngIF</h3><hr>
<ul *ngIf="singleData | async as list; else loading">
 <li> {{list.id}} {{list.name}} </li>
</ul>

<ng-template #loading>
  <img src="" alt="No Data Found" srcset="">
</ng-template>

<h3 style="text-align: center;">Obeservable Async Map()</h3><hr>
<ul *ngIf="nameMapAsync | async as Name">
  {{Name}}
 </ul>

<h3 style="text-align: center;">Obeservable Subscribe Map()</h3><hr>
<ul *ngIf="nameMapSubscribe">
  Name: {{nameMapSubscribe}}
 </ul>